header {
    background-color: var(--colors-ui-base);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}

.innerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.title>a {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    color: var(--color-text);
}

.themesBlogs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
}

.themesBlogs>p {
    font-size: var(--fs-sm);
    color: var(--color-text);
    text-transform: capitalize;
}